
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        .textleft {
            text-align:left;
        }
        .cursorhand {
            cursor: pointer;
        }

        .unselectable {
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        body {
            margin: auto;
            max-width: 1000px;
            background-color: bisque;
            align-content: center;
            align-items: center;
        }

        h1 {
            font-size: 37px;
            color: saddlebrown;
        }

        .default {
            align-self: center;
            text-align: center;
            align-content: center;
        }

        table {
            margin: auto;
            border: 2px double darkred;
        }

        th {
            font-size: 24px;
            min-width: 200px;
            max-width: 500px;
            border: 5px thin black;
        }

        td {
            font-size: 24px;
            min-width: 200px;
            max-width: 960px;
            border: 1px thin black;
        }

        tr {
            border: 2px double darkred;
        }

        .input {
            padding: 2px;
            margin-top: 3px;
            font-size: 28px;
            min-height: 30px;
            min-width: 200px;
            border: 3px outset darkred;
            background-color: rgba(255, 255, 255, 0.37);
            font-family: Impact;
        }

        .warningmessage {
            text-align: center;
            align-self: center;
            margin: auto;
            color: darkred;
            font-size: 30px;
            font-weight: bold;
            border: 7px double black;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Добавить Книгу</title>
</head>
<body>
    <h1 class="default">
        Добавить Книгу
    </h1>
    <div class="default">
        @using (Html.BeginForm("Create", "Book", FormMethod.Post))
        {
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    <input type="text" maxlength="500" name="Name" />
                </td>
            </tr>
            <tr>
                <td>
                    Дата выхода
                </td>
                <td>
                    <input type="date" name="Date" />
                </td>
            </tr>
            <tr>
                <td>
                    Жанр
                </td>
                <td class="textleft">
                    <label class="unselectable cursorhand"><input type="radio" name="ArtGenre" value="Comedy" />Комедия<br /></label>
                    <label class="unselectable cursorhand"><input type="radio" name="ArtGenre" value="Drama" />Драма<br /></label>
                    <label class="unselectable cursorhand"><input type="radio" name="ArtGenre" value="Romance" />Романтика<br /></label>
                    <label class="unselectable cursorhand"><input type="radio" name="ArtGenre" value="Fantasy" />Фэнтези<br /></label>
                    <label class="unselectable cursorhand"><input type="radio" name="ArtGenre" value="SliceOfLife" />Повседневность</label>
                </td>
            </tr>
            <tr>
                <td>
                    Автор
                </td>
                <td>
                    <input type="text" maxlength="100" name="Author" />
                </td>
            </tr>
            <tr>
                <td>
                    Кол-во страниц
                </td>
                <td>
                    <input type="number" max="100001" name="PageCount" />
                </td>
            </tr>
            <tr>
                <td>
                    Тип
                </td>
                <td class="textleft">
                    <label class="unselectable cursorhand"><input type="radio" name="BookType" value="LightNovel" />Ранобэ<br /></label>
                    <label class="unselectable cursorhand"><input type="radio" name="BookType" value="Manga" />Манга<br /></label>
                    <label class="unselectable cursorhand"><input type="radio" name="BookType" value="Other" />Другой</label>
                </td>
            </tr>
        </table>
        <div>
            <a class="input" href="/Book/BookCatalog">Отмена</a>   <input class="input cursorhand" type="submit" value="Добавить" />
        </div>
        }
    </div>

</body>
</html>
